- provide(:title, t('home_page.title') )
%div{ :class => 'center hero-unit'}
  %h1 
    = t('home_page.title')
  
  %h3
    = t('home_page.welcome')
    
  %p
    = t('home_page.blurb')
    
  %h2 
    = t('home_page.content')
    
  -if current_user.blank?
    %a{:href => new_user_session_path, :class => "btn btn-large btn-primary"}
      = t('home_page.login')
  -else
    = link_to t('home_page.log_out'), destroy_user_session_path, method: "delete", :class => "btn btn-secondary"
