- # TODO: Refactor Use table?
-# (total = @color_code_proc.call(debtor.debts)) unless debtor.nil?
- total = 1
%tr{:class => "#{"total.zero? ? 'green' : 'red' "}"}
  %td
    = "#{debtor.id}"
  %td
    =link_to(("<i class='fa fa-folder-open'></i>".html_safe + debtor.name), debtor)
  %td
    = display_tel debtor.tel
  %td
    = display_ext debtor.ext
  %td
    = debtor.email
  %td
    = link_to debtor.employer_id_number, debtor 
  %td
    = number_to_currency(total, :unit => '$')
  %td
    = link_to "<i class='fa fa-trash'></i>".html_safe, debtor, method: :delete, data: {confirm: t('debtor_model.confirm_delete')}