- provide(:title, t('debtors_views.debtors_list'))

= form_tag debtors_path, :method => 'get' do
  -# debtors_path might not be best?
  = hidden_field_tag("locale", params[:locale])
  %p
    = search_field_tag :search, params[:search]
    .btn-group 
      = submit_tag t('debtors_views.search_btn'), :name => nil, :class => 'btn btn-secondary' 
  -#end
-# "Search Params? #{!params[:search].nil?}"
-# "Debtor #{@debtors.empty?}"
%h1 
  = t('debtors_views.debtors_list')
-if params[:search].blank?

  /Use a table here 
  %table{:class => "table table-bordered table-hover table-condensed"}
    %th{:class => "table-header" } 
      = t('table_headers.id')
    %th
      = t('table_headers.debtor')
    %th
      = t('table_headers.tel')
    %th
      = t('table_headers.ext')
    %th
      = t('table_headers.email')
    %th
      = t('table_headers.ein')
    %th
      = t('table_headers.owed')
    %td
      = ""
    = render @debtors

  != pagy_bootstrap_nav(@pagy)
-elsif @debtors.empty?
  %h4="#{t('debtors_views.no_results')} #{params[:search]}" 
-else
  %h4="#{t('debtors_views.results_for')} #{params[:search]}" 
  /Use a table here 
  %table{:class => "table table-bordered table-hover table-condensed"}
    %th{:class => "table-header" } 
      = t('table_headers.id')
    %th
      = t('table_headers.debtor')
    %th
      = t('table_headers.tel')
    %th
      = t('table_headers.ext')
    %th
      = t('table_headers.email')
    %th
      = t('table_headers.ein')
    %th
      = t('table_headers.owed')
    %td
      = ""
    = render @debtors
/
