- provide(:title, t('debtors_views.debtors_list'))

= form_tag debtors_path, :method => 'get' do
  -# debtors_path might not be best?
  %p
    = search_field_tag :search, params[:search]
    .btn-group 
      = submit_tag t('debtors_views.search_btn'), :name => nil, :class => 'btn btn-secondary' 
  -#end
-# "Search Params? #{!params[:search].nil?}"
-# "Debtor #{@debtors.empty?}"
%h1 
  = t('debtors_views.debtors_list')
-if params[:search].blank?

  /Use a table here 
  %table{:class => "table table-bordered table-hover table-condensed"}
    %th{:class => "table-header" } 
      = "ID"
    %th
      = "Debtor"
    %th
      = "TEL"
    %th
      =  "TEL EXT"
    %th
      = "EMAIL"
    %th
      = "EIN"
    %th
      = "OWED"
    %td
      = ""
    = render @debtors

  = # will_paginate @debtors
  :erb 
    <%== pagy_nav_bootstrap(@pagy) %>
-elsif @debtors.empty?
  %h4="#{t('debtors_views.no_results')} #{params[:search]}" 
-else
  %h4="#{t('debtors_views.results_for')} #{params[:search]}" 
  /Use a table here 
  %table{:class => "table table-bordered table-hover table-condensed"}
    %th{:class => "table-header" } 
      = "ID"
    %th
      = "Debtor"
    %th
      = "TEL"
    %th
      =  "TEL EXT"
    %th
      = "EMAIL"
    %th
      = "EIN"
    %th
      = "OWED"
    %td
      = ""
    = render @debtors
/
