- provide(:title, @import_title)
%h1 
  = t('import_page.title')
%h2
  = t('import_page.instructions')
%p
  = t('import_page.blurb')
.container-fluid
  .col-md-8
    %div
      = form_tag import_path, multipart: true do
        .custom-file
          = file_field_tag :file, class: 'custom-file-input', lang: "#{I18n.locale.to_s}", id: 'customFileLang'
          %label.custom-file-label{for: 'customFileLang'}
            = t('import_page.select_file')
        %p
          .col-xs-6{style: 'margin-top: 15px'}
            = submit_tag t('import_page.import'), class: 'btn btn-secondary'
%hr    